include .gitattributes
include .githooks/pre-commit
include .github/workflows/python-app.yml
include .gitignore
include CMakeLists.txt
include LICENSE
include LKH-3.0.8/DOC/LKH-2_USER_GUIDE.pdf
include LKH-3.0.8/DOC/LKH-3_PARAMETERS.pdf
include LKH-3.0.8/DOC/LKH-3_REPORT.pdf
include LKH-3.0.8/DOC/LKH_Genetic.pdf
include LKH-3.0.8/DOC/LKH_REPORT.pdf
include LKH-3.0.8/DOC/POPMUSIC_REPORT.pdf
include LKH-3.0.8/DOC/TSPLIB_DOC.pdf
include LKH-3.0.8/Makefile
include LKH-3.0.8/README.txt
include LKH-3.0.8/SRC/Activate.c
include LKH-3.0.8/SRC/AddCandidate.c
include LKH-3.0.8/SRC/AddExtraCandidates.c
include LKH-3.0.8/SRC/AddTourCandidates.c
include LKH-3.0.8/SRC/AdjustCandidateSet.c
include LKH-3.0.8/SRC/AdjustClusters.c
include LKH-3.0.8/SRC/AllocateStructures.c
include LKH-3.0.8/SRC/Ascent.c
include LKH-3.0.8/SRC/BIT.c
include LKH-3.0.8/SRC/Best2OptMove.c
include LKH-3.0.8/SRC/Best3OptMove.c
include LKH-3.0.8/SRC/Best4OptMove.c
include LKH-3.0.8/SRC/Best5OptMove.c
include LKH-3.0.8/SRC/BestKOptMove.c
include LKH-3.0.8/SRC/BestSpecialOptMove.c
include LKH-3.0.8/SRC/Between.c
include LKH-3.0.8/SRC/Between_SL.c
include LKH-3.0.8/SRC/Between_SSL.c
include LKH-3.0.8/SRC/BridgeGain.c
include LKH-3.0.8/SRC/BuildKDTree.c
include LKH-3.0.8/SRC/C.c
include LKH-3.0.8/SRC/CTSP_InitialTour.c
include LKH-3.0.8/SRC/CVRP_InitialTour.c
include LKH-3.0.8/SRC/CandidateReport.c
include LKH-3.0.8/SRC/ChooseInitialTour.c
include LKH-3.0.8/SRC/Connect.c
include LKH-3.0.8/SRC/CreateCandidateSet.c
include LKH-3.0.8/SRC/CreateDelaunayCandidateSet.c
include LKH-3.0.8/SRC/CreateNNCandidateSet.c
include LKH-3.0.8/SRC/CreateQuadrantCandidateSet.c
include LKH-3.0.8/SRC/Create_POPMUSIC_CandidateSet.c
include LKH-3.0.8/SRC/Delaunay.c
include LKH-3.0.8/SRC/Distance.c
include LKH-3.0.8/SRC/Distance_MTSP.c
include LKH-3.0.8/SRC/Distance_SOP.c
include LKH-3.0.8/SRC/Distance_SPECIAL.c
include LKH-3.0.8/SRC/ERXT.c
include LKH-3.0.8/SRC/Excludable.c
include LKH-3.0.8/SRC/Exclude.c
include LKH-3.0.8/SRC/FindTour.c
include LKH-3.0.8/SRC/FixedOrCommonCandidates.c
include LKH-3.0.8/SRC/Flip.c
include LKH-3.0.8/SRC/Flip_SL.c
include LKH-3.0.8/SRC/Flip_SSL.c
include LKH-3.0.8/SRC/Forbidden.c
include LKH-3.0.8/SRC/FreeStructures.c
include LKH-3.0.8/SRC/Gain23.c
include LKH-3.0.8/SRC/GenerateCandidates.c
include LKH-3.0.8/SRC/Genetic.c
include LKH-3.0.8/SRC/GeoConversion.c
include LKH-3.0.8/SRC/GetTime.c
include LKH-3.0.8/SRC/GreedyTour.c
include LKH-3.0.8/SRC/Hashing.c
include LKH-3.0.8/SRC/Heap.c
include LKH-3.0.8/SRC/INCLUDE/BIT.h
include LKH-3.0.8/SRC/INCLUDE/CLARIST.h
include LKH-3.0.8/SRC/INCLUDE/Delaunay.h
include LKH-3.0.8/SRC/INCLUDE/GainType.h
include LKH-3.0.8/SRC/INCLUDE/Genetic.h
include LKH-3.0.8/SRC/INCLUDE/GeoConversion.h
include LKH-3.0.8/SRC/INCLUDE/Hashing.h
include LKH-3.0.8/SRC/INCLUDE/Heap.h
include LKH-3.0.8/SRC/INCLUDE/LKH.h
include LKH-3.0.8/SRC/INCLUDE/Segment.h
include LKH-3.0.8/SRC/INCLUDE/Sequence.h
include LKH-3.0.8/SRC/INCLUDE/gb_string.h
include LKH-3.0.8/SRC/INCLUDE/gpx.h
include LKH-3.0.8/SRC/Improvement.c
include LKH-3.0.8/SRC/IsBackboneCandidate.c
include LKH-3.0.8/SRC/IsCandidate.c
include LKH-3.0.8/SRC/IsCommonEdge.c
include LKH-3.0.8/SRC/IsPossibleCandidate.c
include LKH-3.0.8/SRC/KSwapKick.c
include LKH-3.0.8/SRC/LKH.c
include LKH-3.0.8/SRC/LKHmain.c
include LKH-3.0.8/SRC/LinKernighan.c
include LKH-3.0.8/SRC/MTSP2TSP.c
include LKH-3.0.8/SRC/MTSP_InitialTour.c
include LKH-3.0.8/SRC/MTSP_Report.c
include LKH-3.0.8/SRC/MTSP_WriteSolution.c
include LKH-3.0.8/SRC/Make2OptMove.c
include LKH-3.0.8/SRC/Make3OptMove.c
include LKH-3.0.8/SRC/Make4OptMove.c
include LKH-3.0.8/SRC/Make5OptMove.c
include LKH-3.0.8/SRC/MakeKOptMove.c
include LKH-3.0.8/SRC/Makefile
include LKH-3.0.8/SRC/MergeTourWithBestTour.c
include LKH-3.0.8/SRC/MergeWithTourCLARIST.c
include LKH-3.0.8/SRC/MergeWithTourGPX2.c
include LKH-3.0.8/SRC/MergeWithTourIPT.c
include LKH-3.0.8/SRC/Minimum1TreeCost.c
include LKH-3.0.8/SRC/MinimumSpanningTree.c
include LKH-3.0.8/SRC/NormalizeNodeList.c
include LKH-3.0.8/SRC/NormalizeSegmentList.c
include LKH-3.0.8/SRC/OrderCandidateSet.c
include LKH-3.0.8/SRC/PDPTW_Reduce.c
include LKH-3.0.8/SRC/PatchCycles.c
include LKH-3.0.8/SRC/Penalty_1_PDTSP.c
include LKH-3.0.8/SRC/Penalty_ACVRP.c
include LKH-3.0.8/SRC/Penalty_BWTSP.c
include LKH-3.0.8/SRC/Penalty_CCVRP.c
include LKH-3.0.8/SRC/Penalty_CTSP.c
include LKH-3.0.8/SRC/Penalty_CVRP.c
include LKH-3.0.8/SRC/Penalty_CVRPTW.c
include LKH-3.0.8/SRC/Penalty_M1_PDTSP.c
include LKH-3.0.8/SRC/Penalty_MLP.c
include LKH-3.0.8/SRC/Penalty_MTSP.c
include LKH-3.0.8/SRC/Penalty_M_PDTSP.c
include LKH-3.0.8/SRC/Penalty_OVRP.c
include LKH-3.0.8/SRC/Penalty_PDPTW.c
include LKH-3.0.8/SRC/Penalty_PDTSP.c
include LKH-3.0.8/SRC/Penalty_PDTSPF.c
include LKH-3.0.8/SRC/Penalty_PDTSPL.c
include LKH-3.0.8/SRC/Penalty_RCTVRP.c
include LKH-3.0.8/SRC/Penalty_SOP.c
include LKH-3.0.8/SRC/Penalty_TRP.c
include LKH-3.0.8/SRC/Penalty_TSPDL.c
include LKH-3.0.8/SRC/Penalty_TSPPD.c
include LKH-3.0.8/SRC/Penalty_TSPTW.c
include LKH-3.0.8/SRC/Penalty_VRPB.c
include LKH-3.0.8/SRC/Penalty_VRPBTW.c
include LKH-3.0.8/SRC/Penalty_VRPPD.c
include LKH-3.0.8/SRC/PrintParameters.c
include LKH-3.0.8/SRC/Random.c
include LKH-3.0.8/SRC/ReadCandidates.c
include LKH-3.0.8/SRC/ReadEdges.c
include LKH-3.0.8/SRC/ReadLine.c
include LKH-3.0.8/SRC/ReadParameters.c
include LKH-3.0.8/SRC/ReadPenalties.c
include LKH-3.0.8/SRC/ReadProblem.c
include LKH-3.0.8/SRC/RecordBestTour.c
include LKH-3.0.8/SRC/RecordBetterTour.c
include LKH-3.0.8/SRC/RemoveFirstActive.c
include LKH-3.0.8/SRC/ResetCandidateSet.c
include LKH-3.0.8/SRC/RestoreTour.c
include LKH-3.0.8/SRC/SFCTour.c
include LKH-3.0.8/SRC/SINTEF_WriteSolution.c
include LKH-3.0.8/SRC/SOP_InitialTour.c
include LKH-3.0.8/SRC/SOP_RepairTour.c
include LKH-3.0.8/SRC/SOP_Report.c
include LKH-3.0.8/SRC/STTSP2TSP.c
include LKH-3.0.8/SRC/SegmentSize.c
include LKH-3.0.8/SRC/Sequence.c
include LKH-3.0.8/SRC/SolveCompressedSubproblem.c
include LKH-3.0.8/SRC/SolveDelaunaySubproblems.c
include LKH-3.0.8/SRC/SolveKCenterSubproblems.c
include LKH-3.0.8/SRC/SolveKMeansSubproblems.c
include LKH-3.0.8/SRC/SolveKarpSubproblems.c
include LKH-3.0.8/SRC/SolveRoheSubproblems.c
include LKH-3.0.8/SRC/SolveSFCSubproblems.c
include LKH-3.0.8/SRC/SolveSubproblem.c
include LKH-3.0.8/SRC/SolveSubproblemBorderProblems.c
include LKH-3.0.8/SRC/SolveTourSegmentSubproblems.c
include LKH-3.0.8/SRC/Statistics.c
include LKH-3.0.8/SRC/StatusReport.c
include LKH-3.0.8/SRC/StoreTour.c
include LKH-3.0.8/SRC/SymmetrizeCandidateSet.c
include LKH-3.0.8/SRC/TSPDL_InitialTour.c
include LKH-3.0.8/SRC/TSPTW_MakespanCost.c
include LKH-3.0.8/SRC/TSPTW_Reduce.c
include LKH-3.0.8/SRC/TrimCandidateSet.c
include LKH-3.0.8/SRC/VRPB_Reduce.c
include LKH-3.0.8/SRC/WriteCandidates.c
include LKH-3.0.8/SRC/WritePenalties.c
include LKH-3.0.8/SRC/WriteTour.c
include LKH-3.0.8/SRC/eprintf.c
include LKH-3.0.8/SRC/fscanint.c
include LKH-3.0.8/SRC/gpx.c
include LKH-3.0.8/SRC/printff.c
include LKH-3.0.8/pr2392.par
include LKH-3.0.8/pr2392.tsp
include LKH-3.0.8/whizzkids96.atsp
include LKH-3.0.8/whizzkids96.par
include README.md
include elkai/__init__.py
include elkai/_elkai.c
include elkai/deprecated.py
include elkai/types.py
include elkai/utils.py
include pyproject.toml
include pytest.ini
include setup.py
include tests/__init__.py
include tests/deprecated_test.py
include tests/known_solutions.py
include tests/test_coords.py
include tests/test_distance_matrix.py
include tests/test_internal_solver.py
exclude MANIFEST.in